<br/>
<br/>
<div class="container">
	<div class="container">
		<h2>ESTA ES LA PAGINA DE INICIO </h2>
		<p class="lead">Esta es la pgina de inicio donde el administrador podra registrar evaluadores o acceder a otras funciones</p>
	</div>	
</div>